<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"></bean>

    <bean id="s" class="com.model.Student">
    <property name="id" value="1"></property>
    <property name="name" value="Manik"></property>
    
    </bean> 
    <bean id ="adr" class="com.model.Address">
    <property name="cityName" value="Nagpur"></property>
    <property name="areaName" value="Bollywood Point"></property>
    </bean>
    
    <bean id ="addr" class="com.model.Address">
    <property name="cityName" value="Kanpur"></property>
    <property name="areaName" value="Kollywood Point"></property>
    </bean>
    

   

</beans>